# Sumário

1. [Pré-Processamento](Pré)
2. [Machine Learning](ml)
3. [Gráficos](gf)

# Pré-Processamento dados Reais

In [9]:
import pandas as pd

In [10]:

df1 = pd.read_csv('https://raw.githubusercontent.com/GUIPETAV/Base/main/df1.csv')# falha de subcarga
df2 = pd.read_csv('https://raw.githubusercontent.com/GUIPETAV/Base/main/df2.csv')# sem falha de subcarga

In [11]:
df10 = pd.read_csv('https://raw.githubusercontent.com/GUIPETAV/Base/main/df10.csv') # falha de subcarga 10%
df20 = pd.read_csv('https://raw.githubusercontent.com/GUIPETAV/Base/main/df20.csv') # falha de subcarga 20%
df15 = pd.read_csv('https://raw.githubusercontent.com/GUIPETAV/Base/main/df15.csv') # falha de subcarga 15%
dfbs = pd.read_csv('https://raw.githubusercontent.com/GUIPETAV/Base/main/dfbs.csv') #  sem de falha de subcarga

In [12]:
df2.head()

,Datetime,RTU_COMP_WATT,RTU_LA_COND_TEMP,RTU_MA_HUM,RTU_MA_TEMP,RTU_OA_HUM,RTU_OA_TEMP,RTU_RA_HUM,RTU_RA_TEMP,RTU_REFG_COND_TEMP_1,...,RTU_REFG_SUCT_PRES_2,RTU_REFG_SUCT_TEMP_1,RTU_REFG_SUCT_TEMP_2,RTU_SA_FAN_WATT,RTU_SA_FLOW,RTU_SA_HUM,RTU_SA_TEMP,RTU_TOT_WATT,ZA_HUM,ZA_TEMP
0,2020-07-31 00:01:00,0.0,23.181379,89.684395,21.856787,84.246849,22.704943,77.007149,23.505655,21.563417,...,8.048789,24.554947,24.686487,0.0,34.265842,76.671829,24.629072,41.000004,-14.803085,24.061129
1,2020-07-31 00:02:00,0.0,23.183462,89.673676,21.871866,84.245567,22.719912,77.201302,23.505655,21.569664,...,8.057360,24.550898,24.680414,0.0,34.274014,76.932068,24.629072,39.000004,-14.803085,24.062613
2,2020-07-31 00:03:00,0.0,23.216780,89.674660,21.874947,84.147728,22.741026,77.393867,23.505655,21.607147,...,8.065142,24.550901,24.670296,0.0,34.299866,77.198402,24.629072,40.000004,-14.803085,24.059637
3,2020-07-31 00:04:00,0.0,23.198038,89.653770,21.900015,84.074303,22.748741,77.490273,23.505655,21.640463,...,8.070160,24.587326,24.684464,0.0,34.271954,77.419304,24.629072,40.000004,-14.803085,24.059715
4,2020-07-31 00:05:00,0.0,23.162638,89.622345,21.908255,83.811562,22.763552,77.476524,23.505655,21.661285,...,8.076455,24.583281,24.668274,0.0,34.296387,77.423363,24.629072,40.000004,-14.803085,24.062654

In [13]:

# Obter os nomes das colunas de ambos os DataFrames
columns_df2 = set(df2.columns)
columns_dfbs = set(dfbs.columns)

# Encontrar as colunas com nomes diferentes
different_columns_df2 = columns_df2.difference(columns_dfbs)
different_columns_dfbs = columns_dfbs.difference(columns_df2)

# Criar listas vazias para as colunas do DataFrame
different_columns_df2_list = list(different_columns_df2)
different_columns_dfbs_list = list(different_columns_dfbs)

# Preencher com None para manter as listas com o mesmo tamanho
max_length = max(len(different_columns_df2_list), len(different_columns_dfbs_list))
different_columns_df2_list.extend([None] * (max_length - len(different_columns_df2_list)))
different_columns_dfbs_list.extend([None] * (max_length - len(different_columns_dfbs_list)))

# Criar um DataFrame para a tabela
table_data = {
    'Colunas do df2 com nomes diferentes do dfbs': different_columns_df2_list,
    'Colunas do dfbs com nomes diferentes do df2': different_columns_dfbs_list
}

result_table = pd.DataFrame(table_data)


result_table

,Colunas do df2 com nomes diferentes do dfbs,Colunas do dfbs com nomes diferentes do df2
0,RTU_REFG_SUCT_PRES_1,RTU_REFG_COND_PRES
1,RTU_REFG_DISC_PRES_2,RTU_OA_FLOW
2,RTU_REFG_SUCT_TEMP_1,ZA_TEMP_SPT
3,RTU_REFG_COND_TEMP_2,RTU_REFG_COND_TEMP
4,RTU_REFG_COND_TEMP_1,RTU_SEN_CAPA
5,RTU_MA_TEMP,RTU_REFG_SUCT_TEMP
6,RTU_REFG_DISC_PRES_1,RTU_TOT_CAPA
7,RTU_REFG_SUCT_PRES_2,RTU_RA_FLOW
8,RTU_LA_COND_TEMP,RTU_STG_STA
9,RTU_REFG_DISC_TEMP_1,RTU_REFG_DISC_TEMP
10,RTU_MA_HUM,RTU_REFG_DISC_PRES
11,RTU_REFG_DISC_TEMP_2,RTU_REFG_SUCT_PRES
12,RTU_REFG_SUCT_TEMP_2,None

In [14]:
# Remover as features incongruentes

columns_to_drop_real = ['RTU_MA_HUM', 'RTU_MA_TEMP', 'RTU_LA_COND_TEMP',]
columns_to_drop_sim = ['RTU_TOT_CAPA','ZA_TEMP_SPT','RTU_OA_FLOW','RTU_SEN_CAPA','RTU_RA_FLOW','RTU_STG_STA','RTU_REFG_COND_TEMP']

In [15]:
df1_t = df1.assign(Target = 1) # falha de subcarga

df2_t = df2.assign(Target = 0) # não falha de subcarga


df20_t = df20.assign(Target = 1) # falha de subcarga

dfbs_t = dfbs.assign(Target = 0) #  não falha

In [16]:
# Eliminando  os momentos de desligameno do sistema no  site 2 de forma continua
# Seleciona as linhas que não contêm zero na FAN_WAAT e 'COMP_WATT'.

df1_c = df1_t.loc[(df1_t['RTU_SA_FAN_WATT'] != 0) & (df1_t['RTU_COMP_WATT'] != 0)]
df2_c = df2_t.loc[(df2_t['RTU_SA_FAN_WATT'] != 0) & (df2_t['RTU_COMP_WATT'] != 0)]

# Eliminando  os momentos de desligameno do sistema no  site 2 de forma continua
# Seleciona as linhas que não contêm zero na FAN_WAAT e 'COMP_WATT'.

df20_c = df20_t.loc[(df20_t['RTU_COMP_WATT'] != 0) ]
dfbs_c = dfbs_t.loc[(dfbs_t['RTU_COMP_WATT'] != 0) ]

In [17]:
# Cria uma nova feature com a soma das pressões
df1_c = df1_c.assign(
    RTU_REFG_DISC_PRES=df1_c['RTU_REFG_DISC_PRES_1'] + df1_c['RTU_REFG_DISC_PRES_2'],
    RTU_REFG_SUCT_PRES=df1_c['RTU_REFG_SUCT_PRES_1'] + df1_c['RTU_REFG_SUCT_PRES_2'])

df2_c = df2_c.assign(
    RTU_REFG_DISC_PRES=df2_c['RTU_REFG_DISC_PRES_1'] + df2_c['RTU_REFG_DISC_PRES_2'],
    RTU_REFG_SUCT_PRES=df2_c['RTU_REFG_SUCT_PRES_1'] + df2_c['RTU_REFG_SUCT_PRES_2'])

#### Padronizar a Pressão real

In [18]:
# Passo 1: Calcular a Derivada da Pressão (N-1) por Minuto

# Certifique-se de que as colunas de data/hora estão no formato de data/hora do pandas
df1_c['Datetime'] = pd.to_datetime(df1_c['Datetime'])

df2_c['Datetime'] = pd.to_datetime(df2_c['Datetime'])

# Ordene o DataFrame pela coluna 'DataHora' (caso não esteja ordenado)
df1_c.sort_values(by='Datetime', inplace=True)

df2_c.sort_values(by='Datetime', inplace=True)


# Calcule a derivada por minuto para 'RTU_REFG_DISC_PRES'

df1_c['Derivada_RTU_REFG_DISC_PRES'] = df1_c['RTU_REFG_DISC_PRES'].diff() / df1_c['Datetime'].diff().dt.total_seconds()

df2_c['Derivada_RTU_REFG_DISC_PRES'] = df2_c['RTU_REFG_DISC_PRES'].diff() / df2_c['Datetime'].diff().dt.total_seconds()


# Calcule a derivada por minuto para 'RTU_REFG_SUCT_PRES'

df1_c['Derivada_RTU_REFG_SUCT_PRES'] = df1_c['RTU_REFG_SUCT_PRES'].diff() / df1_c['Datetime'].diff().dt.total_seconds()

df2_c['Derivada_RTU_REFG_SUCT_PRES'] = df2_c['RTU_REFG_SUCT_PRES'].diff() / df2_c['Datetime'].diff().dt.total_seconds()

In [19]:
# Passo 2 Calcular a Média móvel 


janela_media_movel = 1440   # Janela de um dia (1440 minutos)

# Calcule a média móvel da derivada por minuto para 'RTU_REFG_DISC_PRES'

df1_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES'] = df1_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_media_movel).mean()

df2_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES'] = df2_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_media_movel).mean()

# Calcule a média móvel da derivada por minuto para 'RTU_REFG_SUCT_PRES'

df1_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES'] = df1_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_media_movel).mean()

df2_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES'] = df2_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_media_movel).mean()

In [20]:
# Passo 3 Calcular o Desvio Padrão


janela_um_dia = 1440 # Defina a janela de 1 dia (1440 minutos)


# Calcule o desvio padrão da derivada por minuto dentro da janela de 1 dia para 'RTU_REFG_DISC_PRES'
df1_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES'] = df1_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_um_dia).std()

df2_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES'] = df2_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_um_dia).std()

# Calcule o desvio padrão da derivada por minuto dentro da janela de 1 dia para 'RTU_REFG_SUCT_PRES'

df1_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES'] = df1_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_um_dia).std()

df2_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES'] = df2_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_um_dia).std()

In [21]:
# Passo 4 - Padronizar Manualmente

# Calcule o Z-Score para cada minuto usando a média e o desvio padrão das colunas
df1_c['Z_Score_Derivada_RTU_REFG_SUCT_PRES'] = (df1_c['Derivada_RTU_REFG_SUCT_PRES'] - df1_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES']) / df1_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES']

df2_c['Z_Score_Derivada_RTU_REFG_SUCT_PRES'] = (df2_c['Derivada_RTU_REFG_SUCT_PRES'] - df2_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES']) / df2_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES']

df1_c['Z_Score_Derivada_RTU_REFG_DISC_PRES'] = (df1_c['Derivada_RTU_REFG_DISC_PRES'] - df1_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES']) / df1_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES']

df2_c['Z_Score_Derivada_RTU_REFG_DISC_PRES'] = (df2_c['Derivada_RTU_REFG_DISC_PRES'] - df2_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES']) / df2_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES']

In [22]:
df2_c.tail()

,Datetime,RTU_COMP_WATT,RTU_LA_COND_TEMP,RTU_MA_HUM,RTU_MA_TEMP,RTU_OA_HUM,RTU_OA_TEMP,RTU_RA_HUM,RTU_RA_TEMP,RTU_REFG_COND_TEMP_1,...,RTU_REFG_DISC_PRES,RTU_REFG_SUCT_PRES,Derivada_RTU_REFG_DISC_PRES,Derivada_RTU_REFG_SUCT_PRES,MediaMovel_Derivada_RTU_REFG_DISC_PRES,MediaMovel_Derivada_RTU_REFG_SUCT_PRES,DesvioPadrao_Derivada_RTU_REFG_DISC_PRES,DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES,Z_Score_Derivada_RTU_REFG_SUCT_PRES,Z_Score_Derivada_RTU_REFG_DISC_PRES
258579,2021-09-29 16:58:00,255.000015,18.664831,56.994507,19.833544,63.551861,8.283129,50.467957,23.729204,21.248987,...,15.702408,15.802378,-0.007623,0.011428,-0.003095,0.007251,4.763027,8.593972,0.000486,-0.000951
258580,2021-09-29 16:59:00,1983.000122,20.207827,56.758289,19.832773,62.563267,8.298266,50.420105,23.729204,21.051165,...,17.758046,13.318046,0.034261,-0.041406,-0.003072,0.007222,4.763027,8.593972,-0.005658,0.007838
258581,2021-09-29 17:00:00,445.000031,22.923174,57.022457,19.856422,62.345287,8.280314,50.353115,23.729204,18.766863,...,15.447086,14.390031,-0.038516,0.017866,-0.003099,0.007234,4.763027,8.593972,0.001237,-0.007436
258582,2021-09-29 17:01:00,3532.000000,22.515036,57.199764,19.847624,63.332333,8.304955,50.532452,23.729204,19.012575,...,18.055580,13.126932,0.043475,-0.021052,-0.003069,0.007219,4.763027,8.593972,-0.003290,0.009772
258583,2021-09-29 17:02:00,2766.000000,23.849806,57.171261,19.763884,62.924618,8.317967,50.466522,23.668657,16.809483,...,17.939455,10.044896,-0.001935,-0.051367,-0.003070,0.007184,4.763027,8.593972,-0.006813,0.000238

In [23]:
# Elimina as features
columns_to_drop = [
    'RTU_MA_HUM', 'RTU_MA_TEMP', 'RTU_LA_COND_TEMP',
    'RTU_REFG_DISC_PRES_1', 'RTU_REFG_DISC_PRES_2',
    'RTU_REFG_SUCT_PRES_1', 'RTU_REFG_SUCT_PRES_2',
    'RTU_REFG_COND_TEMP_1', 'RTU_REFG_COND_TEMP_2',
    'RTU_REFG_SUCT_TEMP_1', 'RTU_REFG_SUCT_TEMP_2',
    'RTU_REFG_DISC_TEMP_1', 'RTU_REFG_DISC_TEMP_2',
    'RTU_REFG_DISC_PRES', 'RTU_REFG_SUCT_PRES',
    'Derivada_RTU_REFG_DISC_PRES', 'Derivada_RTU_REFG_SUCT_PRES',
    'MediaMovel_Derivada_RTU_REFG_DISC_PRES','MediaMovel_Derivada_RTU_REFG_SUCT_PRES',
    'DesvioPadrao_Derivada_RTU_REFG_DISC_PRES','DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES',
]

df1_x = df1_c.drop(columns_to_drop, axis=1)
df2_x = df2_c.drop(columns_to_drop, axis=1)

In [24]:
# Converter fahrenheit para celsius
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Colunas a serem convertidas
columns_to_convert = ['RTU_RA_TEMP', 'RTU_OA_TEMP', 'ZA_TEMP', 'RTU_REFG_COND_TEMP',
                      'RTU_REFG_SUCT_TEMP', 'RTU_REFG_DISC_TEMP','RTU_SA_TEMP']


# Aplicando a conversão para Celsius
df20[columns_to_convert] = df20[columns_to_convert].apply(fahrenheit_to_celsius)
dfbs[columns_to_convert] = dfbs[columns_to_convert].apply(fahrenheit_to_celsius)

#### Padronizar a Pressão

In [25]:
# Converter colunas de Pascal para Bar
df20['RTU_REFG_SUCT_PRES'], df20['RTU_REFG_DISC_PRES'] = df20['RTU_REFG_SUCT_PRES'] /100000 , df20['RTU_REFG_DISC_PRES'] /100000
dfbs['RTU_REFG_SUCT_PRES'], dfbs['RTU_REFG_DISC_PRES'] = dfbs['RTU_REFG_SUCT_PRES'] / 100000, dfbs['RTU_REFG_DISC_PRES'] /100000

In [26]:
# Passo 1: Calcular a Derivada da Pressão (N-1) por Minuto

df20_c = df20.copy()
dfbs_c = dfbs.copy()

# Certifique-se de que as colunas de data/hora estão no formato de data/hora do pandas
df20_c['Datetime'] = pd.to_datetime(df20_c['Datetime'])

dfbs_c['Datetime'] = pd.to_datetime(dfbs_c['Datetime'])

# Ordene o DataFrame pela coluna 'DataHora' (caso não esteja ordenado)
df20_c.sort_values(by='Datetime', inplace=True)

dfbs_c.sort_values(by='Datetime', inplace=True)


# Calcule a derivada por minuto para 'RTU_REFG_DISC_PRES'

df20_c['Derivada_RTU_REFG_DISC_PRES'] = df20_c['RTU_REFG_DISC_PRES'].diff() / df20_c['Datetime'].diff().dt.total_seconds()

dfbs_c['Derivada_RTU_REFG_DISC_PRES'] = dfbs_c['RTU_REFG_DISC_PRES'].diff() / dfbs_c['Datetime'].diff().dt.total_seconds()


# Calcule a derivada por minuto para 'RTU_REFG_SUCT_PRES'
df20_c['Derivada_RTU_REFG_SUCT_PRES'] = df20_c['RTU_REFG_SUCT_PRES'].diff() / df20_c['Datetime'].diff().dt.total_seconds()

dfbs_c['Derivada_RTU_REFG_SUCT_PRES'] = dfbs_c['RTU_REFG_SUCT_PRES'].diff() / dfbs_c['Datetime'].diff().dt.total_seconds()

In [27]:
df20_c.head()

,Datetime,RTU_COMP_WATT,RTU_OA_FLOW,RTU_OA_HUM,RTU_OA_TEMP,RTU_RA_FLOW,RTU_RA_HUM,RTU_RA_TEMP,RTU_REFG_COND_PRES,RTU_REFG_COND_TEMP,...,RTU_SA_TEMP,RTU_SEN_CAPA,RTU_STG_STA,RTU_TOT_CAPA,RTU_TOT_WATT,ZA_HUM,ZA_TEMP,ZA_TEMP_SPT,Derivada_RTU_REFG_DISC_PRES,Derivada_RTU_REFG_SUCT_PRES
0,2018-07-20 01:00:00,1.991743e+06,181.93083,58.777990,12.800017,2941.1106,59.538235,23.224394,24259538.0,25.368100,...,11.716432,13232641.0,1.0,16450256.00,2.086172e+03,59.538235,23.224394,73.399994,NaN,NaN
1,2018-07-20 01:01:00,1.982156e+03,181.93083,58.826126,12.796661,2941.1106,59.586994,23.086641,24340444.0,25.493500,...,12.249357,12469841.0,1.0,16648174.00,2.076584e+03,59.586994,23.086641,73.399994,0.014414,0.029611
2,2018-07-20 01:02:00,1.982326e+03,181.93083,58.870080,30553.333333,2941.1106,59.631520,22.950075,24327568.0,25.473633,...,12.122468,12451516.0,1.0,16624992.00,2.076755e+03,59.631520,22.950075,73.399994,-0.002069,-0.002820
3,2018-07-20 01:03:00,1.983721e+03,181.93083,58.909492,12.790008,2941.1106,59.671448,22.814513,24310910.0,25.447811,...,11.999847,12432533.0,1.0,16590.77,2.078149e+03,59.671448,22.814513,73.399994,-0.002897,-0.005300
4,2018-07-20 01:04:00,1.985772e+03,181.93083,58.944946,12.786683,2941.1106,59.707363,22.680083,24292254.0,25.418883,...,11.879883,12413394.0,1.0,16550658.00,2.080201e+06,59.707363,22.680083,73.399994,-0.003338,-0.006637

In [28]:
# Passo 2 Calcular a Média móvel 


janela_media_movel = 1440   # Janela de um dia (1440 minutos)

# Calcule a média móvel da derivada por minuto para 'RTU_REFG_DISC_PRES'
df20_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES'] = df20_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_media_movel).mean()

dfbs_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES'] = dfbs_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_media_movel).mean()

# Calcule a média móvel da derivada por minuto para 'RTU_REFG_SUCT_PRES'
df20_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES'] = df20_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_media_movel).mean()

dfbs_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES'] = dfbs_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_media_movel).mean()

In [29]:
df20_c.head()

,Datetime,RTU_COMP_WATT,RTU_OA_FLOW,RTU_OA_HUM,RTU_OA_TEMP,RTU_RA_FLOW,RTU_RA_HUM,RTU_RA_TEMP,RTU_REFG_COND_PRES,RTU_REFG_COND_TEMP,...,RTU_STG_STA,RTU_TOT_CAPA,RTU_TOT_WATT,ZA_HUM,ZA_TEMP,ZA_TEMP_SPT,Derivada_RTU_REFG_DISC_PRES,Derivada_RTU_REFG_SUCT_PRES,MediaMovel_Derivada_RTU_REFG_DISC_PRES,MediaMovel_Derivada_RTU_REFG_SUCT_PRES
0,2018-07-20 01:00:00,1.991743e+06,181.93083,58.777990,12.800017,2941.1106,59.538235,23.224394,24259538.0,25.368100,...,1.0,16450256.00,2.086172e+03,59.538235,23.224394,73.399994,NaN,NaN,NaN,NaN
1,2018-07-20 01:01:00,1.982156e+03,181.93083,58.826126,12.796661,2941.1106,59.586994,23.086641,24340444.0,25.493500,...,1.0,16648174.00,2.076584e+03,59.586994,23.086641,73.399994,0.014414,0.029611,NaN,NaN
2,2018-07-20 01:02:00,1.982326e+03,181.93083,58.870080,30553.333333,2941.1106,59.631520,22.950075,24327568.0,25.473633,...,1.0,16624992.00,2.076755e+03,59.631520,22.950075,73.399994,-0.002069,-0.002820,NaN,NaN
3,2018-07-20 01:03:00,1.983721e+03,181.93083,58.909492,12.790008,2941.1106,59.671448,22.814513,24310910.0,25.447811,...,1.0,16590.77,2.078149e+03,59.671448,22.814513,73.399994,-0.002897,-0.005300,NaN,NaN
4,2018-07-20 01:04:00,1.985772e+03,181.93083,58.944946,12.786683,2941.1106,59.707363,22.680083,24292254.0,25.418883,...,1.0,16550658.00,2.080201e+06,59.707363,22.680083,73.399994,-0.003338,-0.006637,NaN,NaN

In [30]:
# Passo 3 Calcular o Desvio Padrão


janela_um_dia = 1440 # Defina a janela de 1 dia (1440 minutos)


# Calcule o desvio padrão da derivada por minuto dentro da janela de 1 dia para 'RTU_REFG_DISC_PRES'
df20_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES'] = df20_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_um_dia).std()


dfbs_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES'] = dfbs_c['Derivada_RTU_REFG_DISC_PRES'].rolling(window=janela_um_dia).std()

# Calcule o desvio padrão da derivada por minuto dentro da janela de 1 dia para 'RTU_REFG_SUCT_PRES'

df20_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES'] = df20_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_um_dia).std()

dfbs_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES'] = dfbs_c['Derivada_RTU_REFG_SUCT_PRES'].rolling(window=janela_um_dia).std()

In [31]:
df20_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143941 entries, 0 to 143940
Data columns (total 31 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Datetime                                  143941 non-null  datetime64[ns]
 1   RTU_COMP_WATT                             143941 non-null  float64
 2   RTU_OA_FLOW                               143941 non-null  float64
 3   RTU_OA_HUM                                143941 non-null  float64
 4   RTU_OA_TEMP                               143941 non-null  float64
 5   RTU_RA_FLOW                               143941 non-null  float64
 6   RTU_RA_HUM                                143941 non-null  float64
 7   RTU_RA_TEMP                               143941 non-null  float64
 8   RTU_REFG_COND_PRES                        143941 non-null  float64
 9   RTU_REFG_COND_TEMP                        143941 non-null  float64
 10  RTU_REFG_DISC_PRES                        143941 non-null  float64
 11  RTU_REFG_DISC_TEMP                        143941 non-null  float64
 12  RTU_REFG_SUCT_PRES                        143941 non-null  float64
 13  RTU_REFG_SUCT_TEMP                        143941 non-null  float64
 14  RTU_SA_FAN_WATT                           143941 non-null  float64
 15  RTU_SA_FLOW                               143941 non-null  float64
 16  RTU_SA_HUM                                143941 non-null  float64
 17  RTU_SA_TEMP                               143941 non-null  float64
 18  RTU_SEN_CAPA                              143941 non-null  float64
 19  RTU_STG_STA                               143941 non-null  float64
 20  RTU_TOT_CAPA                              143941 non-null  float64
 21  RTU_TOT_WATT                              143941 non-null  float64
 22  ZA_HUM                                    143941 non-null  float64
 23  ZA_TEMP                                   143941 non-null  float64
 24  ZA_TEMP_SPT                               143941 non-null  float64
 25  Derivada_RTU_REFG_DISC_PRES               143940 non-null  float64
 26  Derivada_RTU_REFG_SUCT_PRES               143940 non-null  float64
 27  MediaMovel_Derivada_RTU_REFG_DISC_PRES    142501 non-null  float64
 28  MediaMovel_Derivada_RTU_REFG_SUCT_PRES    142501 non-null  float64
 29  DesvioPadrao_Derivada_RTU_REFG_DISC_PRES  142501 non-null  float64
 30  DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES  142501 non-null  float64
dtypes: datetime64[ns](1), float64(30)
memory usage: 35.1 MB

In [32]:
# Passo 4 - Padronizar Manualmente

# Calcule o Z-Score para cada minuto usando a média e o desvio padrão das colunas
df20_c['Z_Score_Derivada_RTU_REFG_SUCT_PRES'] = (df20_c['Derivada_RTU_REFG_SUCT_PRES'] - df20_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES']) / df20_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES']

dfbs_c['Z_Score_Derivada_RTU_REFG_SUCT_PRES'] = (dfbs_c['Derivada_RTU_REFG_SUCT_PRES'] - dfbs_c['MediaMovel_Derivada_RTU_REFG_SUCT_PRES']) / dfbs_c['DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES']

df20_c['Z_Score_Derivada_RTU_REFG_DISC_PRES'] = (df20_c['Derivada_RTU_REFG_DISC_PRES'] - df20_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES']) / df20_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES']

dfbs_c['Z_Score_Derivada_RTU_REFG_DISC_PRES'] = (dfbs_c['Derivada_RTU_REFG_DISC_PRES'] - dfbs_c['MediaMovel_Derivada_RTU_REFG_DISC_PRES']) / dfbs_c['DesvioPadrao_Derivada_RTU_REFG_DISC_PRES']

In [35]:
df20_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143941 entries, 0 to 143940
Data columns (total 33 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Datetime                                  143941 non-null  datetime64[ns]
 1   RTU_COMP_WATT                             143941 non-null  float64
 2   RTU_OA_FLOW                               143941 non-null  float64
 3   RTU_OA_HUM                                143941 non-null  float64
 4   RTU_OA_TEMP                               143941 non-null  float64
 5   RTU_RA_FLOW                               143941 non-null  float64
 6   RTU_RA_HUM                                143941 non-null  float64
 7   RTU_RA_TEMP                               143941 non-null  float64
 8   RTU_REFG_COND_PRES                        143941 non-null  float64
 9   RTU_REFG_COND_TEMP                        143941 non-null  float64
 10  RTU_REFG_DISC_PRES                        143941 non-null  float64
 11  RTU_REFG_DISC_TEMP                        143941 non-null  float64
 12  RTU_REFG_SUCT_PRES                        143941 non-null  float64
 13  RTU_REFG_SUCT_TEMP                        143941 non-null  float64
 14  RTU_SA_FAN_WATT                           143941 non-null  float64
 15  RTU_SA_FLOW                               143941 non-null  float64
 16  RTU_SA_HUM                                143941 non-null  float64
 17  RTU_SA_TEMP                               143941 non-null  float64
 18  RTU_SEN_CAPA                              143941 non-null  float64
 19  RTU_STG_STA                               143941 non-null  float64
 20  RTU_TOT_CAPA                              143941 non-null  float64
 21  RTU_TOT_WATT                              143941 non-null  float64
 22  ZA_HUM                                    143941 non-null  float64
 23  ZA_TEMP                                   143941 non-null  float64
 24  ZA_TEMP_SPT                               143941 non-null  float64
 25  Derivada_RTU_REFG_DISC_PRES               143940 non-null  float64
 26  Derivada_RTU_REFG_SUCT_PRES               143940 non-null  float64
 27  MediaMovel_Derivada_RTU_REFG_DISC_PRES    142501 non-null  float64
 28  MediaMovel_Derivada_RTU_REFG_SUCT_PRES    142501 non-null  float64
 29  DesvioPadrao_Derivada_RTU_REFG_DISC_PRES  142501 non-null  float64
 30  DesvioPadrao_Derivada_RTU_REFG_SUCT_PRES  142501 non-null  float64
 31  Z_Score_Derivada_RTU_REFG_SUCT_PRES       142501 non-null  float64
 32  Z_Score_Derivada_RTU_REFG_DISC_PRES       142501 non-null  float64
dtypes: datetime64[ns](1), float64(32)
memory usage: 37.3 MB

### Definir X e y

Real

In [33]:
# Definir y real

df1_y= df1_c['Target']
df2_y= df2_c['Target']

In [34]:
# Definir X real
df1_x= df1_x.drop(['Datetime','Target', 'RTU_REFG_COND_TEMP', 'RTU_REFG_SUCT_TEMP', 'RTU_REFG_DISC_TEMP'], axis=1)
df2_x= df2_x.drop(['Datetime','Target', 'RTU_REFG_COND_TEMP', 'RTU_REFG_SUCT_TEMP', 'RTU_REFG_DISC_TEMP'], axis=1)

KeyError: "['RTU_REFG_COND_TEMP', 'RTU_REFG_SUCT_TEMP', 'RTU_REFG_DISC_TEMP'] not found in axis"

SImulado

In [ ]:
# Definir y sim

df20_y = df20_c['Target']
dfbs_y = dfbs_c['Target']

In [ ]:
# Definir X sim

df20_x= df20_c.drop(['Datetime','Target', 'RTU_REFG_COND_TEMP', 'RTU_REFG_SUCT_TEMP', 'RTU_REFG_DISC_TEMP'], axis=1)
dfbs_x= dfbs_c.drop(['Datetime','Target', 'RTU_REFG_COND_TEMP', 'RTU_REFG_SUCT_TEMP', 'RTU_REFG_DISC_TEMP'], axis=1)

In [ ]:
# Ordenar Dataset

colunas_df1_x = set(df1_x.columns)
colunas_df2_x = set(df2_x.columns)
colunas_df20_x = set(df20_x.columns)
colunas_dfbs_x = set(dfbs_x.columns)

In [ ]:
sequencia_colunas = df20_x.columns
df1_x = df1_x[sequencia_colunas]
df2_x = df2_x[sequencia_colunas]
dfbs_x = dfbs_x[sequencia_colunas]

# cross validation real

In [ ]:
# separar X falha
num_linhas = len(df1_x)
tamanho_parte = num_linhas // 5

# Separe o dataframe em cinco partes e criar uma lista
x1 = [df1_x.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

In [ ]:
# separar y falha
num_linhas = len(df1_y)
tamanho_parte = num_linhas // 5

# Separe o dataframe em cinco partes e criar uma lista

y1 = [df1_y.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

In [ ]:
#separar X nfalha

num_linhas = len(df2_x)
tamanho_parte = num_linhas // 5

# Separe o dataframe em cinco partes e criar uma lista
x2 = [df2_x.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

In [ ]:
# separar y nfalha

num_linhas = len(df2_y)
tamanho_parte = num_linhas // 5

# Separe o dataframe em cinco partes e criar uma lista
y2 = [df2_y.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

In [ ]:
# Combinações Possíveis
total_combinacoes = len(x1) * len(x2)
print("Total de combinações possíveis:", total_combinacoes)

In [ ]:
combinacoes_X = []
combinacoes_y = []

for i1 in range(len(X1)):
    for i2 in range(len(X2)):
        X_teste = pd.concat([X1[i] for i in range(len(X1)) if i == i1] + [X2[j] for j in range(len(X2)) if j == i2])
        X_treino = pd.concat([X1[i] for i in range(len(X1)) if i != i1] + [X2[j] for j in range(len(X2)) if j != i2])
        combinacoes_X.append((X_teste, X_treino))

for i1 in range(len(y1)):
    for i2 in range(len(y2)):
        y_teste = pd.concat([y1[i] for i in range(len(y1)) if i == i1] + [y2[j] for j in range(len(y2)) if j == i2])
        y_treino = pd.concat([y1[i] for i in range(len(y1)) if i != i1] + [y2[j] for j in range(len(y2)) if j != i2])
        combinacoes_y.append((y_teste, y_treino))

# Cross simulado

In [ ]:
# separar y nfalha

num_linhas = len(df20_y)
tamanho_parte = num_linhas // 5

num_linhas = len(dfbs_y)
tamanho_parte = num_linhas // 5


# Separe o dataframe em cinco partes e criar uma lista

y20 = [df20_y.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

ybs = [dfbs_y.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

In [ ]:
total_combinacoes = len(y20) * len(ybs)
print("Total de combinações possíveis:", total_combinacoes)

In [ ]:
#separar X nfalha

num_linhas = len(df20_x)
tamanho_parte = num_linhas // 5

num_linhas = len(dfbs_x)
tamanho_parte = num_linhas // 5

# Separe o dataframe em cinco partes e criar uma lista

X20 = [df20_x.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]

Xbs = [dfbs_x.iloc[(i*tamanho_parte):((i+1)*tamanho_parte)] for i in range(5)]